.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 2px solid rgba(152, 152, 152, 0.08);

  input,
  button {
    height: 3rem;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid rgba(150, 150, 150, 0.377);
  }

  input {
    width: 60%;
    max-width: 300px;
    padding: 0.5rem;
    color: var(--text-primary);
    background: var(--surface);
    border-radius: var(--radius) 0 0 var(--radius);
    border-right: none;

    @media (min-width: 768px) {
      width: 30%;
    }
  }

  button {
    width: 25%;
    max-width: 100px;
    background: #ffd07941;
    color: rgb(227, 227, 227);
    cursor: pointer;
    border-radius: 0 var(--radius) var(--radius) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);

    &:hover {
      background: #917b50;
    }

    @media (min-width: 768px) {
      width: 10%;
    }
  }
}
